@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0;
    @media screen(sm) {
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 44px;
      letter-spacing: 0;
    }
  }
  h2 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    @media screen(sm) {
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0;
    }
  }
  h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    @media screen(sm) {
      font-size: 26px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0em;
    }
  }
  h4 {
    @apply text-h4;
    font-weight: 400;
  }
  h5 {
    @apply text-h5;
    font-weight: 400;
  }
  h6 {
    @apply text-h6;
    font-weight: 400;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    @media screen(sm) {
      font-size: 1rem;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0;
    }
  }
  ul {
    list-style-position: inside;
  }
  main {
    height: 100%;
    width: 100%;
  }
  html {
    background-image: url('/sakuraForestBottomLeft.png'), url('/sakuraBranch1Right.png'), linear-gradient(180deg, rgba(199,224,255,1) 0%, rgba(231,214,246,0.9990371148459384) 50%, rgba(242,221,219,1) 100%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:
        bottom left,
        top right,
        top;
    background-size: 100% auto, 60% auto, 100%;
  }
  .confirm-button {
    /* From https://css.glass */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.30);
  }

  @keyframes leafanimation {
    0% {opacity: 0;}
    100% {opacity: 100%;}
  }

  .leaf .char {
    animation: leafanimation 6s linear;
  }

  .glitchy-slow .char {
    position: relative;
    color: transparent;
    transition: none;
  }

  .glitchy-slow [data-scroll=in] .char:after {
    --txt: attr(data-char);
    content: var(--txt);
    animation-duration: 3s;
    animation-name: glitchy-5;
    animation-fill-mode: backwards;
    animation-iteration-count: calc(1 + var(--char-index));
    animation-delay: 0.1s;
    animation-timing-function: steps(1);
    inset: 0;
    color: #70371F;
    visibility: visible;
  }

  .glitchy-normal .char {
    position: relative;
    color: transparent;
    transition: none;
  }

  .glitchy-normal [data-scroll=in] .char:after {
    --txt: attr(data-char);
    content: var(--txt);
    animation-duration: 0.5s;
    animation-name: glitchy;
    animation-fill-mode: backwards;
    animation-iteration-count: calc(1 + var(--char-index));
    animation-delay: 0.1s;
    animation-timing-function: steps(1);
    inset: 0;
    color: #70371F;
    visibility: visible;
    letter-spacing: 50px;
  }

  .glitchy-fast .char {
    position: relative;
    color: transparent;
    transition: none;
  }

  .glitchy-fast [data-scroll=in] .char:after {
    --txt: attr(data-char);
    content: var(--txt);
    animation-duration: 0.3s;
    animation-name: glitchy;
    animation-fill-mode: backwards;
    animation-iteration-count: calc(1 + var(--char-index));
    animation-delay: 0.1s;
    animation-timing-function: steps(1);
    inset: 0;
    color: #70371F;
    visibility: visible;
    letter-spacing: 500px;
  }

  @keyframes glitchy {
    0%   { content: var(--char-0); letter-spacing: 100px; }
    33%  { content: var(--char-1); letter-spacing: 80px;}
    66%  { content: var(--char-2); letter-spacing: 20px;}
    100% { content: var(--char-0); letter-spacing: 10px;}
  }

  @keyframes glitchy-5 {
    0%   { content: var(--char-0); letter-spacing: 100px; }
    20%  { content: var(--char-1); letter-spacing: 80px;}
    40%  { content: var(--char-2); letter-spacing: 20px;}
    60%  { content: var(--char-3); letter-spacing: 20px;}
    80%  { content: var(--char-4); letter-spacing: 20px;}
    100% { content: var(--char-0); letter-spacing: 10px;}
  }

  .vertical-text {
    text-orientation: upright;
    writing-mode: vertical-lr;
  }
}
